body {
    background-color: rgb(19,24,52);
}

header {
    height: 100%;
    margin: 0px;
}

header .logo {
    display: flex;
    justify-content: flex-start;
    align-items: end;
    margin: 0px;
    height: 5%;
    width: 5%;
}

header .background {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50%;
    width: 50%;
}